<!doctype html>
<html lang="ko">

<head>
  <title> target </title>
  <meta charset="utf-8">
  <style>
    @import './home.css';
  </style>
</head>

<body bgcolor="lightgray">
  <div class="home bg-pan-bl">
    <div class="header flicker-4">
      DANCEARCH
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <ol>
      <h3><a href="confirm.html " target="shut" style="color:white">안무 확인</a></h3>

      <br>
      <h3><a href="register.html " target="shut" style="color:white">안무 등록</a></h3><br>

      <br>
      <h3><a href="modify.html" target="shut" style="color:white">안무 수정</a> </h3>

      <br>
      <h3><a href="delete.html" target="shut" style="color:white">안무 삭제</a></h3>
    </ol>
  </div>
</body>

</html>
